<div class="container-fluid" style="margin-top: 84px;" >
    <div class="row" style="height: 55.3rem;">
        <div class="col-md-6 pl-0 d-none d-lg-flex d-xl-flex d-md-flex" style="background-image: url('assets/login/fondo-usuario.png'); background-size: cover; background-repeat: no-repeat; background-position: center;
        justify-content: center; align-items: center;">
            <div class="letter-whitex2 text-center"> Aforo estás<br>seguro, no dejes<br>de asistir a tu<br>comercio favorito.</div>
        </div>
        <div class="col-md-6 pb-5">
            <div class=" mt-3 pt-4 pb-1 mb-5">
                <div class="mt-3 pt-4 pl-5 mb-5">
                    <div class="loginText" class="mb-3">Ingresar</div><br>
                    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline" fxFlex.gt-sm="100%" fxFlex.gt-sm="100%" class="pr-4 w-100">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Correo" type="text" formControlName="correo" required>
                        </mat-form-field>
                        <!-- <input type="text" class="inputType" formControlName="correo" placeholder="Correo"><br> -->
                        <mat-form-field  appearance="outline" fxFlex.gt-sm="100%" fxFlex.gt-sm="100%" class="pr-4 w-100">
                            <mat-label>Contraseña</mat-label>
                            <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <!-- <input type="password" class="mt-4 inputType" formControlName="password" placeholder="Contraseña"><br> -->
                        <button mat-raised-button type="submit" class="button mt-4">Continuar</button>
                    </form>
                    <div class="container-fluid mt-5">
                        <span class="mx-2"><a routerLink="/recuperar-contrasena">No recuerdo mi contraseña</a></span> | <span class="mx-2"><a routerLink="/registro">Quiero registrarme</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>