.button {
    background: #471BA6; 
    color: #FFFFFF; 
    border-radius: 50px; 
    height: 50px;
    width: 120px;
}

.inputType {
    width: 61%;
    height: 48px;
    border-radius: 51px;
    border-style: double;
    background-color: #e8e8e8;
    border-width: 0.5px;
    border-color: #e8e8e8;
    padding-left: 14px;
}

.loginText {
    color: #000000;
    font-size: 24px;
    font-weight: 590;
}

.button:focus {outline: 0;}

.letter-whitex2{
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    line-height: 65px;
}