<!-- template block UI  -->
<ng-template #templateBlockUi>
  <div class="block-ui-template">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
</ng-template>
<!-- end template block UI  -->
<block-ui [template]="templateBlockUi">
  <div class="container-fluid m-0 pl-0 pr-0">
     <!-- header -->
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</block-ui>